body{
	background-image: url(bgimg.png);
	background-position:centor;
	background-repeat:no-repeat;
	background-color: #241c00;
	text-align: center;
	font-size: 24px;
	color: white;
}
h1{
	font-size: 80px;
	margin-bottom: 350px;
}
.logo{
	text-align: left;
	margin-left: 6%;
	font-size: 50px;
}
.Login{
	margin-left: 72%;
	color: #fdb000;
}
.Register{
	margin-left: 5%;
	color: #fdb000;
}
.aa1{
	font-size: 40px;
	margin-bottom: 12.5px;
}