body{
	background-color: #241c00;
	font-size: 24px;
	color: white;
}
h1{
	font-size: 80px;
	margin-bottom: 350px;
}
.logo{
	text-align: left;
	margin-left: 6%;
	font-size: 50px;
}
.Login{
	margin-right: 95px;
	color: #fdb000;
}
.Register{
	margin-right: 120px;
	color: #fdb000;
}
.a1{
	text-align: right;
}
.a2{
	text-align: center;
}
.a3{
	font-size: 40px;
	margin-bottom: 12.5px;
}
.a4{
	font-size: 30px;
	border-style: solid;
	border-radius: 20px;
	border-width: 6px;
	border-color: #c08000;
}
.a5{
	background-color: black;
	border-color: black;
	border-style: solid;
	border-width: 50px;
	border-bottom-style: solid;
	border-bottom-color: #ffc90e;
	border-bottom-width: 4px;
}
.a6{
	font-size: 18px;
	font-family: "Segoe Script","sans-serif;";
}
.a7{
	background-color: black;
	border-color: black;
	border-style: solid;
	border-width: 50px;
	text-align: center;
}